@font-face {
    font-family: 'Google Sans';
    src: url('./GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
